.wrapper {
  display: grid;
  gap: 5px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.label {
  position: absolute;
  padding-left: 5px;
}

.inputWrapper {
  padding: 2px;
  background-color: rgb(215, 231, 255);
  border-radius: 25px;
  display: grid;
  align-items: center;
}

.input {
  border: none;
  border-radius: 25px;
  padding: 1vmax;
}

.input:focus-visible {
  outline: none;
}