$rstColor: #071131;
$whiteColor: rgb(241, 241, 241);
$blackColor: rgb(17, 17, 17);
$secondBlue: #6498f8;
$addColor: #eaebf5;
$shadow1: rgba(75, 103, 197, 0.3);
$shadow2: rgba(75, 103, 197, 0.6);
$rstColorOpacity: #071131e1;
$marginTop: 11vh;